In [2]:
import pandas as pd

In [ ]:
Calcul du RMLSE sur l'échantillon de soumission !!!

In [ ]:
1. Récupération du dataset de TEST calculé avec R

In [3]:
X_test_submission = pd.read_csv("../data/test.csv")

In [7]:
X_test_submission.shape

(6493, 30)

In [ ]:
2. Calcul de la prédiction
Mais impossible de calculer le RMSLE car on n'a pas le "Y_test" vérité
On essaye de soumettre sur Kaggle

In [ ]:
On appliquera : grid.predict(X_test_submission)
- obtenu dans : linear_regression_model_New.ipynb
- obtenu dans : xgboost_log.ipynb

Création des variables catégorielles de type interactions d'ordre 2<br>
Création des dummy variables de toutes les variables catégorielles<br>
On veut aussi les variables numériques dans le dataset

In [8]:
import pandas as pd

from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import PolynomialFeatures
from itertools import combinations

In [ ]:
all_categorical_o = [name_var for name_var in list(df) if name_var[0:2] == 'CO'] 
all_numeric_o = [name_var for name_var in list(df) if name_var[0:2] == 'NO']

I Création du dataset des variables "Origin"

On passe en dummies les catégorielles

In [39]:
df[all_categorical_o].dtypes

CO_month         object
CO_workingday     int64
CO_hour           int64
CO_day           object
CO_year           int64
CO_season        object
CO_weather       object
CO_humidityQ     object
CO_tempQ         object
CO_atempQ        object
CO_windspeedQ    object
CO_holiday        int64
dtype: object

In [40]:
# df_all_categorical_o = df[all_categorical_o].applymap(str)

In [41]:
# df_all_categorical_o.dtypes

In [42]:
df[all_categorical_o].describe()

       CO_workingday       CO_hour       CO_year    CO_holiday
count   10886.000000  10886.000000  10886.000000  10886.000000
mean        0.680875     11.541613   2011.501929      0.028569
std         0.466159      6.915838      0.500019      0.166599
min         0.000000      0.000000   2011.000000      0.000000
25%         0.000000      6.000000   2011.000000      0.000000
50%         1.000000     12.000000   2012.000000      0.000000
75%         1.000000     18.000000   2012.000000      0.000000
max         1.000000     23.000000   2012.000000      1.000000

In [43]:
df['CO_hour_new'] = df['CO_hour'].map(lambda x: str(x))
df = df.drop('CO_hour', axis=1)
df = df.rename(columns={'CO_hour_new': 'CO_hour'})

df['CO_year_new'] = df['CO_year'].map(lambda x: str(x))
df = df.drop('CO_year', axis=1)
df = df.rename(columns={'CO_year_new': 'CO_year'})

In [44]:
df[all_categorical_o].describe()

       CO_workingday    CO_holiday
count   10886.000000  10886.000000
mean        0.680875      0.028569
std         0.466159      0.166599
min         0.000000      0.000000
25%         0.000000      0.000000
50%         1.000000      0.000000
75%         1.000000      0.000000
max         1.000000      1.000000

In [46]:
# Transformation de toutes les variables catégorielles:
df_all_dummies_o = pd.get_dummies(df[all_categorical_o])

In [47]:
df_all_dummies_o.shape
# (10886, 47)

(10886, 71)

In [48]:
list(df_all_dummies_o)

['CO_workingday',
 'CO_holiday',
 'CO_month_April',
 'CO_month_August',
 'CO_month_December',
 'CO_month_February',
 'CO_month_January',
 'CO_month_July',
 'CO_month_June',
 'CO_month_March',
 'CO_month_May',
 'CO_month_November',
 'CO_month_October',
 'CO_month_September',
 'CO_hour_0',
 'CO_hour_1',
 'CO_hour_10',
 'CO_hour_11',
 'CO_hour_12',
 'CO_hour_13',
 'CO_hour_14',
 'CO_hour_15',
 'CO_hour_16',
 'CO_hour_17',
 'CO_hour_18',
 'CO_hour_19',
 'CO_hour_2',
 'CO_hour_20',
 'CO_hour_21',
 'CO_hour_22',
 'CO_hour_23',
 'CO_hour_3',
 'CO_hour_4',
 'CO_hour_5',
 'CO_hour_6',
 'CO_hour_7',
 'CO_hour_8',
 'CO_hour_9',
 'CO_day_Friday',
 'CO_day_Monday',
 'CO_day_Saturday',
 'CO_day_Sunday',
 'CO_day_Thursday',
 'CO_day_Tuesday',
 'CO_day_Wednesday',
 'CO_year_2011',
 'CO_year_2012',
 'CO_season_Automne',
 'CO_season_Hiver',
 'CO_season_Printemps',
 'CO_season_Été',
 'CO_weather_Beau temps',
 'CO_weather_Nuageux',
 'CO_weather_Pluvieux (+)',
 'CO_weather_Pluvieux (-)',
 'CO_humidityQ_(47,62]',
 'CO_humidityQ_(62,77]',
 'CO_humidityQ_(77,100]',
 'CO_humidityQ_[0,47]',
 'CO_tempQ_(13.9,20.5]',
 'CO_tempQ_(20.5,26.2]',
 'CO_tempQ_(26.2,41]',
 'CO_tempQ_[0.82,13.9]',
 'CO_atempQ_(16.7,24.2]',
 'CO_atempQ_(24.2,31.1]',
 'CO_atempQ_(31.1,45.5]',
 'CO_atempQ_[0.76,16.7]',
 'CO_windspeedQ_(13,17]',
 'CO_windspeedQ_(17,57]',
 'CO_windspeedQ_(7,13]',
 'CO_windspeedQ_[0,7]']

In [49]:
df_numeric_and_categorical_o = pd.concat([df[["datetime"]], df[all_numeric_o], df_all_dummies_o], axis = 1)
list_var_clean_X = [var for var in list(df_numeric_and_categorical_o) if var != "count" and var != "datetime"]
clean_X = df_numeric_and_categorical_o[list_var_clean_X]

clean_Y = df[["count"]]

X_train, X_test, Y_train, Y_test = train_test_split(clean_X,
                                                    clean_Y,
                                                    test_size = 0.3,
                                                    random_state = 0)

In [50]:
len(list(X_train))

75

In [51]:
X_train.to_pickle("X_train_o.pkl")
X_test.to_pickle("X_test_o.pkl")
Y_train.to_pickle("Y_train_o.pkl")
Y_test.to_pickle("Y_test_o.pkl")

II Création d'un dataset avec les variables Origin et New et interactions entre catégorielles d'ordre 2<br>
On peut aussi ajouter les interactions entre variables numériques

On prend toutes les variables "CO", "NO", "NN" et "CN"

In [9]:
list(X_test_submission)

['CO_month',
 'datetime',
 'CO_workingday',
 'NO_temp',
 'NO_atemp',
 'NO_humidity',
 'NO_windspeed',
 'CO_hour',
 'CO_day',
 'CO_year',
 'S_casual',
 'S_registered',
 'CO_season',
 'CO_weather',
 'CO_humidityQ',
 'CO_tempQ',
 'CO_atempQ',
 'CO_windspeedQ',
 'S_casualQ',
 'S_registeredQ',
 'CO_holiday',
 'CN_school',
 'NN_soleil',
 'CN_soleilQ',
 'NN_tendance_1',
 'NN_tendance_2',
 'CN_tendance_1Q',
 'CN_tendance_2Q',
 'S_rateregis',
 'S_rateregisQ']

In [22]:
# def interaction_order(df,list_of_categ_var, order, only_ordre):
def interaction_order(df,list_of_categ_var, order):
    
    initial_list_df = list_of_categ_var

    # if only_ordre == True:
    all_interactions = list(combinations(list_of_categ_var,order))

    # print ("Nb d'interactions", len(all_interactions))
    # print ("Interaction entre : ", all_interactions)

    for i in range(0, len(all_interactions)):
        # all_inter_variables = []
        # print (list(all_interactions[i]))

        for each in list(all_interactions[i]):
            # New columns of interaction
            for each in range(0,order):

                # Name of interaction variables
                # var_inter_name = 'inter_' + str(i)
                
                var_inter_name = "_+_".join(list(all_interactions[i]))

                # df[var_inter_name] = df[list(all_interactions[i])[0]] + '_' + df[list(all_interactions[i])[1]]
                if each == 0:
                    # print ("each", each)
                    
                    # print (var_inter_name)
                    df[var_inter_name] = df[list(all_interactions[i])[each]]
                else:
                    df[var_inter_name] = df[var_inter_name] + '_' + df[list(all_interactions[i])[each]]

                # all_inter_variables.append(var_inter_name)
                # print (all_inter_variables)

    # Keep only interaction variables in the dataframe
    # print (initial_list_df)
    df = df.drop(initial_list_df, axis=1)
    # df = df[all_inter_variables]
    return df

In [19]:
X_test_submission.shape

(6493, 30)

In [6]:
X_test_submission.head()

,CO_month,datetime,CO_workingday,NO_temp,NO_atemp,NO_humidity,NO_windspeed,CO_hour,CO_day,CO_year,...,CO_holiday,CN_school,NN_soleil,CN_soleilQ,NN_tendance_1,NN_tendance_2,CN_tendance_1Q,CN_tendance_2Q,S_rateregis,S_rateregisQ
0,January,2011-01-20 00:00:00,1,10.66,11.365,56,26.0027,0,Thursday,2011,...,0,0,-64.731114,"[-74.5,-27.9]",0.920373,19,"[0.828,0.92]","[19,86]",0.805835,"(0.802,1]"
1,January,2011-01-20 01:00:00,1,10.66,13.635,56,0.0000,1,Thursday,2011,...,0,0,-70.858731,"[-74.5,-27.9]",0.920373,19,"[0.828,0.92]","[19,86]",0.698099,"(0.597,0.802]"
2,January,2011-01-20 02:00:00,1,10.66,13.635,56,0.0000,2,Thursday,2011,...,0,0,-69.313963,"[-74.5,-27.9]",0.920373,19,"[0.828,0.92]","[19,86]",0.338947,"(0.194,0.4]"
3,January,2011-01-20 03:00:00,1,10.66,12.880,56,11.0014,3,Thursday,2011,...,0,0,-61.327846,"[-74.5,-27.9]",0.920373,19,"[0.828,0.92]","[19,86]",1.551012,"(1.25,1.69]"
4,January,2011-01-20 04:00:00,1,10.66,12.880,56,11.0014,4,Thursday,2011,...,0,0,-50.733442,"[-74.5,-27.9]",0.920373,19,"[0.828,0.92]","[19,86]",1.040613,"(1,1.25]"

In [24]:
#  X_test_submission.shape
def create_inter_dummies_before_submission(df):
    
    print (list(df))
    # all_origin_var_and_new = [name_var for name_var in list(df) if name_var[0:2] == 'CO' or name_var[0:2] == 'NO' or name_var[0:2] == 'NN' or name_var[0:2] == 'CN']
    all_categorical = [name_var for name_var in list(df) if name_var[0:1] == 'C']
    df_all_categorical = df[all_categorical].applymap(str)
    
    # Ajout des interactions d'ordre 2 entre variables catégorielles
    df_with_interaction = interaction_order(df_all_categorical,all_categorical, 2)
    # df_with_interaction.head()
    # print (list(df_with_interaction))
    # print (list_of_categ_var)
    
    # A RELANCER AU CAS OU
    df_with_interaction = df_with_interaction.applymap(str)
    df_all_categorical = df[all_categorical].applymap(str)
    

    df_before_dummies = pd.concat([df_all_categorical,df_with_interaction], axis = 1)
    # print ("df_before_dummies shape:", df_before_dummies.shape)
    
    # Transformation de toutes les variables catégorielles:
    # df_output = pd.get_dummies(df_before_dummies)
    
    df_output = df_before_dummies
    
    return (df_output)
    
df_before_dummies = create_inter_dummies_before_submission(X_test_submission)
# df_with_interaction = create_inter_dummies_before_submission(X_test_submission)

# df_all_dummies = create_inter_dummies_before_submission(X_test_submission)

['CO_month', 'datetime', 'CO_workingday', 'NO_temp', 'NO_atemp', 'NO_humidity', 'NO_windspeed', 'CO_hour', 'CO_day', 'CO_year', 'S_casual', 'S_registered', 'CO_season', 'CO_weather', 'CO_humidityQ', 'CO_tempQ', 'CO_atempQ', 'CO_windspeedQ', 'S_casualQ', 'S_registeredQ', 'CO_holiday', 'CN_school', 'NN_soleil', 'CN_soleilQ', 'NN_tendance_1', 'NN_tendance_2', 'CN_tendance_1Q', 'CN_tendance_2Q', 'S_rateregis', 'S_rateregisQ']

In [26]:
list(df_with_interaction)

['CO_month_+_CO_workingday',
 'CO_month_+_CO_hour',
 'CO_month_+_CO_day',
 'CO_month_+_CO_year',
 'CO_month_+_CO_season',
 'CO_month_+_CO_weather',
 'CO_month_+_CO_humidityQ',
 'CO_month_+_CO_tempQ',
 'CO_month_+_CO_atempQ',
 'CO_month_+_CO_windspeedQ',
 'CO_month_+_CO_holiday',
 'CO_month_+_CN_school',
 'CO_month_+_CN_soleilQ',
 'CO_month_+_CN_tendance_1Q',
 'CO_month_+_CN_tendance_2Q',
 'CO_workingday_+_CO_hour',
 'CO_workingday_+_CO_day',
 'CO_workingday_+_CO_year',
 'CO_workingday_+_CO_season',
 'CO_workingday_+_CO_weather',
 'CO_workingday_+_CO_humidityQ',
 'CO_workingday_+_CO_tempQ',
 'CO_workingday_+_CO_atempQ',
 'CO_workingday_+_CO_windspeedQ',
 'CO_workingday_+_CO_holiday',
 'CO_workingday_+_CN_school',
 'CO_workingday_+_CN_soleilQ',
 'CO_workingday_+_CN_tendance_1Q',
 'CO_workingday_+_CN_tendance_2Q',
 'CO_hour_+_CO_day',
 'CO_hour_+_CO_year',
 'CO_hour_+_CO_season',
 'CO_hour_+_CO_weather',
 'CO_hour_+_CO_humidityQ',
 'CO_hour_+_CO_tempQ',
 'CO_hour_+_CO_atempQ',
 'CO_hour_+_CO_windspeedQ',
 'CO_hour_+_CO_holiday',
 'CO_hour_+_CN_school',
 'CO_hour_+_CN_soleilQ',
 'CO_hour_+_CN_tendance_1Q',
 'CO_hour_+_CN_tendance_2Q',
 'CO_day_+_CO_year',
 'CO_day_+_CO_season',
 'CO_day_+_CO_weather',
 'CO_day_+_CO_humidityQ',
 'CO_day_+_CO_tempQ',
 'CO_day_+_CO_atempQ',
 'CO_day_+_CO_windspeedQ',
 'CO_day_+_CO_holiday',
 'CO_day_+_CN_school',
 'CO_day_+_CN_soleilQ',
 'CO_day_+_CN_tendance_1Q',
 'CO_day_+_CN_tendance_2Q',
 'CO_year_+_CO_season',
 'CO_year_+_CO_weather',
 'CO_year_+_CO_humidityQ',
 'CO_year_+_CO_tempQ',
 'CO_year_+_CO_atempQ',
 'CO_year_+_CO_windspeedQ',
 'CO_year_+_CO_holiday',
 'CO_year_+_CN_school',
 'CO_year_+_CN_soleilQ',
 'CO_year_+_CN_tendance_1Q',
 'CO_year_+_CN_tendance_2Q',
 'CO_season_+_CO_weather',
 'CO_season_+_CO_humidityQ',
 'CO_season_+_CO_tempQ',
 'CO_season_+_CO_atempQ',
 'CO_season_+_CO_windspeedQ',
 'CO_season_+_CO_holiday',
 'CO_season_+_CN_school',
 'CO_season_+_CN_soleilQ',
 'CO_season_+_CN_tendance_1Q',
 'CO_season_+_CN_tendance_2Q',
 'CO_weather_+_CO_humidityQ',
 'CO_weather_+_CO_tempQ',
 'CO_weather_+_CO_atempQ',
 'CO_weather_+_CO_windspeedQ',
 'CO_weather_+_CO_holiday',
 'CO_weather_+_CN_school',
 'CO_weather_+_CN_soleilQ',
 'CO_weather_+_CN_tendance_1Q',
 'CO_weather_+_CN_tendance_2Q',
 'CO_humidityQ_+_CO_tempQ',
 'CO_humidityQ_+_CO_atempQ',
 'CO_humidityQ_+_CO_windspeedQ',
 'CO_humidityQ_+_CO_holiday',
 'CO_humidityQ_+_CN_school',
 'CO_humidityQ_+_CN_soleilQ',
 'CO_humidityQ_+_CN_tendance_1Q',
 'CO_humidityQ_+_CN_tendance_2Q',
 'CO_tempQ_+_CO_atempQ',
 'CO_tempQ_+_CO_windspeedQ',
 'CO_tempQ_+_CO_holiday',
 'CO_tempQ_+_CN_school',
 'CO_tempQ_+_CN_soleilQ',
 'CO_tempQ_+_CN_tendance_1Q',
 'CO_tempQ_+_CN_tendance_2Q',
 'CO_atempQ_+_CO_windspeedQ',
 'CO_atempQ_+_CO_holiday',
 'CO_atempQ_+_CN_school',
 'CO_atempQ_+_CN_soleilQ',
 'CO_atempQ_+_CN_tendance_1Q',
 'CO_atempQ_+_CN_tendance_2Q',
 'CO_windspeedQ_+_CO_holiday',
 'CO_windspeedQ_+_CN_school',
 'CO_windspeedQ_+_CN_soleilQ',
 'CO_windspeedQ_+_CN_tendance_1Q',
 'CO_windspeedQ_+_CN_tendance_2Q',
 'CO_holiday_+_CN_school',
 'CO_holiday_+_CN_soleilQ',
 'CO_holiday_+_CN_tendance_1Q',
 'CO_holiday_+_CN_tendance_2Q',
 'CN_school_+_CN_soleilQ',
 'CN_school_+_CN_tendance_1Q',
 'CN_school_+_CN_tendance_2Q',
 'CN_soleilQ_+_CN_tendance_1Q',
 'CN_soleilQ_+_CN_tendance_2Q',
 'CN_tendance_1Q_+_CN_tendance_2Q']

In [10]:
# df + df_all_interactions + df_all_dummies
df_all_dummies.head()

,CO_month_April,CO_month_August,CO_month_December,CO_month_February,CO_month_January,CO_month_July,CO_month_June,CO_month_March,CO_month_May,CO_month_November,...,"CN_tendance_1Q_+_CN_tendance_2Q_(1.03,1.05]_(599,664]","CN_tendance_1Q_+_CN_tendance_2Q_(1.05,1.09]_(300,384]","CN_tendance_1Q_+_CN_tendance_2Q_(1.05,1.09]_(384,450]","CN_tendance_1Q_+_CN_tendance_2Q_(1.05,1.09]_(664,730]","CN_tendance_1Q_+_CN_tendance_2Q_(1.09,1.21]_(235,300]","CN_tendance_1Q_+_CN_tendance_2Q_(1.09,1.21]_(300,384]","CN_tendance_1Q_+_CN_tendance_2Q_(1.09,1.21]_(384,450]","CN_tendance_1Q_+_CN_tendance_2Q_[0.828,0.92]_(599,664]","CN_tendance_1Q_+_CN_tendance_2Q_[0.828,0.92]_(664,730]","CN_tendance_1Q_+_CN_tendance_2Q_[0.828,0.92]_[19,86]"
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

On ajoute les dataframes : df + df_with_interaction + df_all_dummies

In [28]:
# all_df = pd.concat([df, df_with_interaction, df_all_dummies], axis = 1)
all_df = pd.concat([X_test_submission[['NO_temp','NO_atemp','NO_humidity','NO_windspeed','NN_soleil','NN_tendance_1','NN_tendance_2']], df_all_dummies], axis = 1)
                                          
list_var_clean_X = [var for var in list(all_df) if var != "count" and var != "datetime"]                                         
clean_X_for_submission = all_df[list_var_clean_X]

In [29]:
clean_X_for_submission.to_pickle("X_for_submission.pkl")